/* dm-sans-regular */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url(./dm-sans-v17-latin-regular.woff2) format("woff2");
}

/* dm-sans-600 */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url(./dm-sans-v17-latin-600.woff2) format("woff2");
}

/* dm-sans-700*/
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url(./dm-sans-v17-latin-700.woff2) format("woff2");
}

/* space-grotesk-500 */
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url(./space-grotesk-v22-latin-500.woff2) format("woff2");
}

/* space-grotesk-700 */
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url(./space-grotesk-v22-latin-700.woff2) format("woff2");
}

/* share-tech-mono-regular */
@font-face {
  font-display: swap; 
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: url(./share-tech-mono-v16-latin-regular.woff2) format('woff2');
}
